/* Layout 설정 */
.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  min-height: 100%;
  padding-top: 0 !important;
  padding: 0 20px;

  :global .Header {
    display: flex;
    max-width: 1020px;
    width: 100%;
    gap: 14px;
    flex-direction: column;
    align-items: center;

    + div {
      max-width: 720px;
      width: 100%;
    }
  }

  @media (max-width: 375px) {
    .Header {
      width: 100%;
    }
  }
}

@media screen and (max-width: 375px) {
  .Layout {
    width: 100%;
    padding: 0 20px; /* 모바일에서 좌우 여백 추가 */
  }
}

/* Header 스타일 */

/* ImgBox 스타일 */
.ImgBox {
  width: 148px;
  height: 21px;
}

@media (max-width: 375px) {
  .ImgBox {
    width: 100%;
  }
}

/* HeaderBox 스타일 */
.HeaderBox {
  display: flex;
  width: 100%;
  max-width: 1020px;
  height: 42px;
  margin-top: 100px;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
}

.HeaderBox h3 {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  letter-spacing: -0.3px;
}

@media (max-width: 375px) {
  .HeaderBox {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .HeaderBox h3 {
    margin-top: 6px;
    font-size: 14px;
  }
}

/* HeaderItem 스타일 */
.HeaderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 14px;
  flex-flow: wrap;
  gap: 15px;
  max-width: 1020px;
  width: 100%;
}

.HeaderItem h1 {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  letter-spacing: -0.3px;
}

.HeaderItem .header_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.HeaderItem button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 42px;
  padding: 4px 14px;
  justify-content: center;
  border-radius: 8px;
  background: var(--G3, #f1f2f4);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.HeaderItem .button-icon {
  width: 26px;
  height: 26px;
}

@media (max-width: 375px) {
  .HeaderItem {
    width: 100%;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: flex-start; /* 왼쪽 정렬 */
  }

  .HeaderItem h1 {
    margin-bottom: 10px; /* 제목과 버튼 사이의 간격 */
  }

  .HeaderItem .header-buttons {
    justify-content: flex-start; /* 버튼들을 왼쪽으로 정렬 */
  }
}

/* Component 스타일 (리스트 및 참여 신청 컴포넌트) */
.Component {
  display: flex;
  flex-direction: column;
  align-items: center; /* 오타 수정 및 중앙 정렬 적용 */
  justify-content: center;
  width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
  max-width: 1020px; /* 최대 너비를 설정하여 내용물이 너무 넓어지지 않도록 제한 */
  margin: 0 auto; /* 컨테이너를 화면 중앙에 배치 */
  margin-top: 30px;
}

@media (max-width: 375px) {
  .Component {
    width: 100%;
  }
}

.EventContainer {
  width: 100%;
  max-width: 1020px;
  height: 100%;
  max-height: 478px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

@media (max-width: 375px) {
  .EventContainer {
    width: 100%;
  }
}

.TooltipContainer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 375px) {
    width: 100%;
  }
}

.Tooltip {
  position: relative;
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 80%;
  text-align: center;

  height: 52px;
  padding: 15px 20px;
  gap: 10px;
  max-width: 80%;
  border-radius: 8px;
  background: var(--G10, #000);
  text-align: center;

  color: var(--G1, #fff);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.18px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px; /* 말풍선 아래쪽 화살표 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}

/* 캐릭터+캡션+테이블 이미지 컨테이너 (A) (720x396px) */
.CharacterAndTableContainer {
  position: relative;
  margin-top: 20px;
  top: 62px;
  max-width: 720px; /* 테이블 수에 따라 너비 조정 */
  width: clamp(320px, 100%, 720px);
  /* height: auto;
  max-height: 450px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

@media (max-width: 375px) {
  .CharacterAndTableContainer {
    margin-top: 0px;
    /* width: 320px;
    height: 277px; */
  }
}

.TableAndCharactersWrapper {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 29em;
  max-height: 550px;
  margin-left: 0; /* 첫 번째 테이블을 제외하고 좌측 마진 적용 */
  flex: 1;
}

@media (max-width: 375px) {
  .TableAndCharactersWrapper {
    width: 320px;
    height: 19em;
  }
}

/* 메인 이미지 박스 (테이블과 캐릭터 배치) */
.MainImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 테이블 컨테이너 스타일 */
.TableContainer {
  position: relative;
  width: 720px;
  height: 170px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .TableContainer {
    width: 100%;
  }
}

/* 테이블 이미지 스타일 */
.TableImage {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  top: 50%;
  margin-top: 3vw;
}

@media (max-width: 375px) {
  .TableImage {
    max-width: 320px;
    width: 100%;
    height: 75px;
    margin-top: -2vh;
  }
}

/* 캐릭터 컨테이너 스타일 */
.CharacterContainer {
  position: absolute;
  left: 0px;
  top: 0; /* 기본값 */
  transform: translate(-50%, -50%);
  width: clamp(48px, 30vw, 100px);
  max-width: 100px;
  /* height: 232px; */
  height: 0vh; /* 기본값 */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* 기본값 */

  + .CharacterContainer {
    /* margin-left: 30px; */
  }
}

@media (max-width: 375px) {
  .CharacterContainer {
    width: 100%;
    height: auto;
    transform: translate(-50%, 0vh);
  }
}

/* 캐릭터 이미지 스타일 */
.CharacterImage {
  max-width: 100px;
  width: 20vw;
}

@media (max-width: 375px) {
  .CharacterImage {
    width: 48px;
    height: 100px;
  }
}

/* 이름 스타일 */
.CharacterName {
  color: var(--G10, #000);
  -webkit-text-stroke-width: 1.5;
  -webkit-text-stroke-color: var(--G1, #fff);
  font-family: "Noto Sans";
  font-size: clamp(13px, 2vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
  width: clamp(60px, 1vw, 120px);
  text-align: center;
  text-overflow: ellipsis; /* 말줄임표 표시 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.NameAbove {
  position: absolute;
  bottom: 100%; /* 캐릭터 위에 배치 */
  transform: translateY(-10px); /* 캐릭터와의 간격 조정 */
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.NameBelow {
  position: absolute;
  top: 100%; /* 캐릭터 아래에 배치 */
  transform: translateY(10px); /* 캐릭터와의 간격 조정 */
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.BackCharacter {
  position: absolute;
  bottom: 78px;
  width: 104px;
  height: 222px;
  z-index: 1; /* 테이블 이미지 뒤에 배치 */
}

.FrontCharacter {
  position: absolute;
  bottom: -42px;
  width: 104px;
  height: 222px;
  z-index: 3;
}

/* 참석자 리스트 박스 */
.AttendBox {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
  max-width: 1020px;
  overflow: hidden;
}

@media (max-width: 375px) {
  .AttendBox {
    width: 100%;
  }
}

/* 시간 아이템 (모두의 빈타임) */
.TimeItem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 24px;
}

.TimeItem h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--G10, #000);
}

.TimeItem span {
  font-size: 18px;
  font-weight: 700;
  color: var(--G10, #000);
}

@media (max-width: 375px) {
  .TimeItem h3 {
    font-size: 20px;
    font-weight: 900;
    color: var(--G10, #000);
  }

  .TimeItem span {
    font-size: 14px;
    font-weight: 700;
    color: var(--G10, #000);
  }
}

/* 테이블 박스 (참석자 상태) */
.TableBox {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
  overflow-x: scroll; /* 항상 스크롤 표시 */
}

.Table {
  margin: 0 auto;
  width: max-content;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: separate; /* Changed from collapse to separate */
  border-spacing: 0; /* Keep this to prevent gaps */
  border: 0.5px solid #dfe2e6; /* Add outer border */
  table-layout: fixed;
}

.Table th:first-of-type {
  border-top-left-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

.Table th:last-of-type {
  border-top-right-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

.Table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

.Table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

/* 참석자 수에 따른 동적 스타일 적용 */
.ThItem {
  & > th {
    height: 64px;
    font-size: 18px;
    background-color: #f9fafa;
    border: 0.5px solid #dfe2e6;
    text-align: center;
    vertical-align: middle;
    /* width:  ; */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 말줄임표 표시 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  }

  & > th:first-of-type {
    width: 220px; /* 일정 열 고정 너비 */
    min-width: 220px;
  }

  & > th:not(:first-of-type) {
    /* width: ; */
    /* max-width:  ; */
    /* min-width: ; */
  }

  @media (max-width: 375px) {
    & > th {
      height: 40px;
      width: 70px; /* 모바일에서는 70px 고정 */
    }
  }
}

.TdItem {
  & > td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 0.5px solid #dfe2e6;
    position: relative;
  }

  & > td:first-of-type {
    font-size: 20px;
    background-color: #f9fafa;
    width: 220px; /* 일정 열 고정 너비 */
    height: 64px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  & > td:not(:first-of-type) {
    /* width: ; */
    /* max-width: ; */
    /* min-width: ; */
    justify-content: center;
    align-items: center;
  }

  & td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 375px) {
    & > td {
      height: 40px;
      font-size: 12px;
      width: 70px; /* 모바일에서는 70px 고정 */
    }

    & td > div {
      display: block;
    }
  }
}

/* 버튼 박스 */
.BtnBox {
  display: flex;
  justify-content: center;
  width: 40vw;
  margin-bottom: 100px;
}

/* 참석자 페이지 내 버튼 스타일 */
.BtnLeft {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;

  @media (max-width: 375px) {
    margin-bottom: 20px;
    width: 400px;
    font-size: 12px;
  }
}

.BtnRight {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;

  @media (max-width: 375px) {
    margin-bottom: 20px;
    width: 400px;
    font-size: 12px;
  }
}

/* 빈타임 라인 */
.Line {
  border-top: 1px solid #dbdbdb;
}

/* 입력 아이템 스타일 */
.InputItem {
  display: flex;
  flex-direction: column;
}

.InputItem h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--G10, #000);
}

.InputItem input {
  margin-top: 15px;
  padding: 10px 18px;
  border-radius: 5px;
  border: 2px solid #f1f2f4;
  font-size: 18px;
  align-items: center;

  &::placeholder {
    color: #a9afb6;
  }
}

@media (max-width: 375px) {
  .InputItem h3 {
    font-size: 18px;
  }

  .InputItem input {
    font-size: 14px;
  }
}

/* 시간 박스 */
.TimeBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-x: auto;
  height: 30vh;
}

/* 시간 리스트 */
.Times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 날짜 스타일 */
.Date {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.Date h4 {
  font-size: 18px;
  font-weight: 900;
  color: var(--G10, #000);
}

.Date span {
  font-size: 18px;
  font-weight: 500;
  color: var(--G10, #000);
}

@media (max-width: 800px) {
  .Date h4 {
    font-size: 16px;
  }

  .Date span {
    font-size: 16px;
  }
}

.AttendButton {
  width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
  height: 68px;
  font-size: 22px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
  display: flex; /* 아이콘 및 텍스트 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 텍스트 중앙 정렬 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비를 계산 */
  margin-bottom: 100px;

  @media (max-width: 800px) {
    width: 100%; /* 모바일에서도 너비를 100%로 설정 */
    height: 50px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/* 라디오 버튼 스타일 */
.Radio {
  & input[type="radio"] {
    display: none;
  }

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 45px;
    width: 45px;
    font-size: larger;
    background-color: #f1f2f4;
    color: #2e343f;
  }

  & input[type="radio"]:checked + label {
    background-color: #32e3ae;
    color: #2e343f;
  }

  & input[type="radio"] + label {
    background-color: #f1f2f4;
    color: #2e343f;
  }

  @media (max-width: 800px) {
    & label {
      height: 35px;
      width: 35px;
      font-size: medium;
    }
  }
}

/* 버튼들 그룹 스타일 */
.Btns {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

/* 백그라운드 색상 설정 */
.GreenBackground {
  background-color: #9bfbd9;
}

.BlueBackground {
  background-color: #ddffef;
}

.EventEdit {
  background-color: transparent;
}

.gray {
  color: #dbdbdb;
}

.HighlightedDate {
  color: var(--M3, #31edb5);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.18px;
}

.ParticipantName {
  text-decoration: underline;
  cursor: pointer;
  color: inherit; /* 기존 글자 색상 유지 */
  display: block; /* 블록 요소로 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  max-width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
}

.DateTimeContainer {
  display: flex;
  height: 30px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.DatePart {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: -0.2px;
}

.TimePart {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.2px;
}

:global .Divider {
  width: 1020px;
  height: 1px;
  background-color: var(--G4);
  margin: 100px auto;

  @media (max-width: 375px) {
    width: 100%;
  }

  + div {
    max-width: 720px;
    width: 100%;
  }
}
