/* Layout 설정 */
.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  min-height: 100%;
  padding-top: 0 !important;
  padding: 0 20px;

  :global .Header {
    display: flex;
    max-width: 1020px;
    width: 100%;
    gap: 14px;
    flex-direction: column;
    align-items: center;

    + div {
      max-width: 720px;
      width: 100%;
      /* margin-top: 40px !important; */
    }
  }

  @media (max-width: 430px) {
    .Header {
      width: 100%;
    }
  }
}

@media screen and (max-width: 430px) {
  .Layout {
    width: 100%;
    padding: 0 20px; /* 모바일에서 좌우 여백 추가 */
    overflow-x: hidden;
    margin-bottom: 170px;
  }
}

/* Header 스타일 */

@media (max-width: 430px) {
  .ImgBox {
    width: 100%;
  }
}

/* HeaderBox 스타일 */
.HeaderBox {
  display: flex;
  width: 100%;
  max-width: 1020px;
  height: 42px;
  margin-top: 100px;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
}

.HeaderBox h3 {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  letter-spacing: -0.3px;
}

@media (max-width: 430px) {
  .HeaderBox {
    /* margin-left: 20px;
    margin-bottom: 20px; */
    width: 100%;
    margin-top: 30px;
    height: auto;
    margin-bottom: 0;

    > .ImgBox {
      margin-bottom: 30px;
      img {
        width: 118px;
        height: 29px;
      }
    }
  }

  .HeaderBox h3 {
    margin-top: 6px;
    font-size: 14px;
  }
}

/* HeaderItem 스타일 */
.HeaderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 14px;
  flex-flow: wrap;
  gap: 15px;
  max-width: 1020px;
  width: 100%;
}

.HeaderItem h1 {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  letter-spacing: -0.3px;
}

.HeaderItem .header_buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    color: var(--G10, #000);
  }
}

.HeaderItem button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 42px;
  padding: 4px 14px;
  justify-content: center;
  border-radius: 8px;
  background: var(--G3, #f1f2f4);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.HeaderItem .button-icon {
  width: 26px;
  height: 26px;
}

@media (max-width: 430px) {
  .HeaderItem {
    width: auto;
    display: block;
    margin-top: 0px;
    height: fit-content;

    + h3 {
      display: none;
    }

    button {
      font-size: 14px;
      height: 34px;

      > img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .HeaderItem h1 {
    margin-bottom: 14px; /* 제목과 버튼 사이의 간격 */
    font-size: 24px;
    display: flex;
  }

  .HeaderItem .header-buttons {
    justify-content: flex-start; /* 버튼들을 왼쪽으로 정렬 */
  }
}

/* Component 스타일 (리스트 및 참여 신청 컴포넌트) */
.Component {
  display: flex;
  flex-direction: column;
  align-items: center; /* 오타 수정 및 중앙 정렬 적용 */
  justify-content: center;
  width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춤 */
  max-width: 1020px; /* 최대 너비를 설정하여 내용물이 너무 넓어지지 않도록 제한 */
  margin: 0 auto; /* 컨테이너를 화면 중앙에 배치 */
  margin-top: 30px;
}

@media (max-width: 430px) {
  .Component {
    width: 100%;
    margin-top: 40px;
  }
}

.EventContainer {
  width: 100%;
  max-width: 1020px;
  height: 467px;
  /* max-height: 504px; */
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1; */
}

@media (max-width: 430px) {
  .EventContainer {
    width: 100%;
    /* margin-top: 40px; */
    height: 301px;
  }
}

.TooltipContainer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 430px) {
    width: 100%;
  }
}

.Tooltip {
  position: relative;
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 80%;
  text-align: center;

  height: 52px;
  padding: 15px 20px;
  gap: 10px;
  max-width: 80%;
  border-radius: 8px;
  background: var(--G10, #000);
  text-align: center;

  color: var(--G1, #fff);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.18px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 8px;
    background: url("../../Img/tooltip_tail.svg") 0 no-repeat;
    display: flex;
  }

  @media (max-width: 430px) {
    max-width: 320px;
    min-height: 40px;
    height: auto;
    padding: 12px 18px;
    font-size: 13px;
    line-height: 16px;
    white-space: normal;
    word-break: keep-all;
    word-wrap: break-word;

    span {
      display: inline;
      white-space: normal;
      word-break: keep-all;
    }
  }
}

/* 캐릭터+캡션+테이블 이미지 컨테이너 (A) (720x396px) */
.CharacterAndTableContainer {
  position: relative;
  margin-top: 0px;
  top: 62px;
  width: 100%;
  max-width: 720px; /* 테이블 수에 따라 너비 조정 */
  /* width: clamp(280px, 100%, 720px); */
  /* height: auto;
  max-height: 450px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto; /* 내용이 넘칠 경우 스크롤 표시 */
  overflow-y: hidden;
}

@media (max-width: 430px) {
  .CharacterAndTableContainer {
    /* margin-top: 20px; */
    /* width: 320px;
    height: 277px; */
    max-width: 430px;
    height: 201px;
  }
}

.TableAndCharactersWrapper {
  position: relative;
  width: 90%;
  max-width: 720px;
  height: 385px;
  max-height: 600px;
  margin-left: 0; /* 첫 번째 테이블을 제외하고 좌측 마진 적용 */
  flex: 1 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 430px) {
  .TableAndCharactersWrapper {
    max-width: 430px;
    width: 90%;
    height: 100%;

    + .TableAndCharactersWrapper {
      margin-left: 15px;
    }
  }
}

/* 메인 이미지 박스 (테이블과 캐릭터 배치) */
.MainImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 테이블 컨테이너 스타일 */
.TableContainer {
  position: relative;
  width: 720px;
  height: 170px;
  margin: 0 auto;
}

@media (max-width: 430px) {
  .TableContainer {
    width: 100%;
  }
}

/* 테이블 이미지 스타일 */
.TableImage {
  max-width: 720px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: 165px;
}

@media (max-width: 430px) {
  .TableImage {
    max-width: 320px;
    width: 100%;
    height: 75px;
    margin-top: 80px;
  }

  .HighlightedDate {
    font-size: 13px !important;
  }
}

/* 백그라운드 색상 설정 */
.GreenBackground {
  background-color: #9bfbd9; /* 초록색 배경 */
}

.BlueBackground {
  background-color: #ddffef; /* 파란색 배경 */
}

.EventEdit {
  background-color: transparent; /* 투명 배경 */
}

.gray {
  color: #dbdbdb; /* 회색 글자 색상 */
}

.HighlightedDate {
  color: var(--M3, #31edb5);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.18px;
}

.ParticipantName {
  text-decoration: underline;
  cursor: pointer;
  color: inherit; /* 기존 글자 색상 유지 */
  display: block; /* 블록 요소로 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  max-width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
}

/* 추가적인 스타일 정의 필요에 따라 추가 */

/* 캐릭터 컨테이너 스타일 */
.CharacterContainer {
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
  height: 232px; /* 기본 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* 기본 z-index */

  + .CharacterContainer {
    margin-left: 10px;
    left: calc(var(--left-position) - 50px);
  }
}

.CharacterContainer.top {
  top: 0;
  height: 244px; /* top일 때의 높이 */
  z-index: 1; /* top일 때의 z-index */
}

.CharacterContainer.bottom {
  bottom: 0;
  height: 254px; /* bottom일 때의 높이 */
  z-index: 3; /* bottom일 때의 z-index */
}

@media (max-width: 430px) {
  .CharacterContainer {
    width: auto;
    height: auto;
    transform: translateX(-50%);
    /* margin-top: -10%; */
    left: 50%;

    + .CharacterContainer {
      margin-left: 6px;
      left: calc(var(--left-position) - 0); /* left position 조정 */
    }
  }

  .ParticipantName {
    max-width: 70px !important;
  }
}

/* 캐릭터 이미지 스타일 */
.CharacterImage {
  max-width: 100px;
  width: 100px;
}

@media (max-width: 430px) {
  .CharacterImage {
    width: 48px;
    height: 100px;
  }
}

/* 이름 스타일 */
.CharacterName {
  color: var(--G10, #000);
  -webkit-text-stroke-width: 1.5;
  -webkit-text-stroke-color: var(--G1, #fff);
  font-family: "Noto Sans";
  font-size: clamp(12px, 2vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
  width: clamp(60px, 1vw, 120px);
  text-align: center;
  text-overflow: ellipsis; /* 말줄임표 표시 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.NameAbove {
  position: absolute;
  bottom: 100%; /* 캐릭터 위에 배치 */
  transform: translateY(-10px); /* 캐릭터와의 간격 조정 */
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.NameBelow {
  position: absolute;
  top: 100%; /* 캐릭터 아래에 배치 */
  transform: translateY(10px); /* 캐릭터와의 간격 조정 */
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.BackCharacter {
  position: absolute;
  bottom: 78px;
  width: 104px;
  height: 222px;
  z-index: 1; /* 테이블 이미지 뒤에 배치 */
}

.FrontCharacter {
  position: absolute;
  bottom: -42px;
  width: 104px;
  height: 222px;
  z-index: 3;
}

/* 참석자 리스트 박스 */
.AttendBox {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
  max-width: 1020px;
  overflow: hidden;
}

@media (max-width: 430px) {
  .AttendBox {
    width: 100%;
    margin-top: 0px
  }
}

/* 시간 아이템 (모두의 빈타임) */
.TimeItem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 24px;
}

.TimeItem h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--G10, #000);
}

.TimeItem span {
  font-size: 18px;
  font-weight: 700;
  color: var(--G10, #000);
}

@media (max-width: 430px) {
  .TimeItem h3 {
    font-size: 20px;
    font-weight: 900;
    color: var(--G10, #000);
  }

  .TimeItem span {
    font-size: 14px;
    font-weight: 700;
    color: var(--G10, #000);
  }
}

/* 테이블 박스 (참석자 상태) */
.TableBox {
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1020px;
  overflow-x: auto;
}
@media (max-width: 430px) {
  .TableBox {
    padding-bottom: 20px;

    td {
      img {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.Table {
  width: max-content;
  max-width: 1020px;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: separate; /* Changed from collapse to separate */
  border-spacing: 0; /* Keep this to prevent gaps */
  border: 0.5px solid #dfe2e6; /* Add outer border */
  table-layout: fixed;
  box-sizing: border-box;
}
@media (max-width: 430px) {
  .Table {
    max-width: 430px;
  }
}

.Table th:first-of-type {
  border-top-left-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

.Table th:last-of-type {
  border-top-right-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

.Table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

.Table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
  border: 0.5px solid var(--G4, #dfe2e6);
}

/* 참석자 수에 따른 동적 스타일 적용 */
.ThItem {
  box-sizing: border-box;
  & > th {
    height: 64px;
    font-size: 18px;
    background-color: #f9fafa;
    border: 0.5px solid #dfe2e6;
    text-align: center;
    vertical-align: middle;
    /* width:  ; */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 말줄임표 표시 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  }

  & > th:first-of-type {
    width: 220px; /* 일정 열 고정 너비 */
    min-width: 220px;
  }

  & > th:not(:first-of-type) {
    width: auto;
    min-width: 95px;
  }

  @media (max-width: 430px) {
    & > th {
      height: 40px;
      width: 70px; /* 모바일에서는 70px 고정 */
    }

    & > th:first-of-type {
      min-width: 90px !important;
      width: 90px !important;
      height: 44px !important;
      font-size: 13px;
    }
    & > th:not(:first-of-type) {
      width: 70px !important;
      min-width: 70px !important;
      font-size: 13px;
    }
  }
}

.TdItem {
  box-sizing: border-box;
  & > td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 0.5px solid #dfe2e6;
    position: relative;
  }

  & > td:first-of-type {
    font-size: 20px;
    background-color: #f9fafa;
    width: 220px; /* 일정 열 고정 너비 */
    height: 64px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  & > td:not(:first-of-type) {
    /* width: ; */
    /* max-width: ; */
    /* min-width: ; */
    justify-content: center;
    align-items: center;
  }

  & td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 430px) {
    & > td {
      height: 52px !important;
      width: 90px !important; /* 모바일에서는 70px 고정 */
      min-width: 90px;
    }
    & > td:not(:first-of-type) {
      width: 70px !important;
      min-width: 70px !important;
    }
  }
}

/* 버튼 박스 */
.BtnBox {
  display: flex;
  justify-content: center;
  width: 40vw;
  margin-bottom: 100px;
}

/* 참석자 페이지 내 버튼 스타일 */
.BtnLeft {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;

  @media (max-width: 430px) {
    margin-bottom: 20px;
    width: 400px;
    font-size: 12px;
  }
}

.BtnRight {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;

  @media (max-width: 430px) {
    margin-bottom: 20px;
    width: 400px;
    font-size: 12px;
  }
}

/* 빈타임 라인 */
.Line {
  border-top: 1px solid #dbdbdb;
}

/* 입력 아이템 스타일 */
.InputItem {
  display: flex;
  flex-direction: column;
}

.InputItem h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--G10, #000);
}

.InputItem input {
  margin-top: 15px;
  padding: 10px 18px;
  border-radius: 5px;
  border: 2px solid #f1f2f4;
  font-size: 18px;
  align-items: center;

  &::placeholder {
    color: #a9afb6;
  }
}

@media (max-width: 430px) {
  .InputItem h3 {
    font-size: 18px;
  }

  .InputItem input {
    font-size: 14px;
  }
}

/* 시간 박스 */
.TimeBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-x: auto;
  height: 30vh;
}

/* 시간 리스트 */
.Times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 날짜 스타일 */
.Date {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.Date h4 {
  font-size: 18px;
  font-weight: 900;
  color: var(--G10, #000);
}

.Date span {
  font-size: 18px;
  font-weight: 500;
  color: var(--G10, #000);
}

@media (max-width: 800px) {
  .Date h4 {
    font-size: 16px;
  }

  .Date span {
    font-size: 16px;
  }
}

.AttendButton {
  width: 100%;
  height: 68px;
  font-size: 22px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 100px;

  @media (max-width: 430px) {
    width: 100% !important;
    height: 60px;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    font-size: 18px;
    z-index: 1000;
  }
}

/* 라디오 버튼 스타일 */
.Radio {
  & input[type="radio"] {
    display: none;
  }

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 45px;
    width: 45px;
    font-size: larger;
    background-color: #f1f2f4;
    color: #2e343f;
  }

  & input[type="radio"]:checked + label {
    background-color: #32e3ae;
    color: #2e343f;
  }

  & input[type="radio"] + label {
    background-color: #f1f2f4;
    color: #2e343f;
  }

  @media (max-width: 800px) {
    & label {
      height: 35px;
      width: 35px;
      font-size: medium;
    }
  }
}

/* 버튼들 그룹 스타일 */
.Btns {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

/* 백그라운드 색상 설정 */
.GreenBackground {
  background-color: #9bfbd9;
}

.BlueBackground {
  background-color: #ddffef;
}

.EventEdit {
  background-color: transparent;
}

.gray {
  color: #dbdbdb;
}

.HighlightedDate {
  color: var(--M3, #31edb5);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.18px;
}

.ParticipantName {
  text-decoration: underline;
  cursor: pointer;
  color: inherit; /* 기존 글자 색상 유지 */
  display: block; /* 블록 요소로 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  max-width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
}

.DateTimeContainer {
  display: flex;
  height: 30px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

@media (max-width: 430px) {
  .DateTimeContainer {
    flex-direction: column;
    gap: 0 !important;
    > span {
      font-size: 14px;
      line-height: normal !important;
      font-weight: bold !important;
    }
  }
}

.DatePart {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: -0.2px;
}

.TimePart {
  color: var(--G10, #000);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.2px;
}

:global .Divider {
  width: 1020px;
  height: 1px;
  background-color: var(--G4);
  margin: 100px auto;

  @media (max-width: 430px) {
    width: 100%;
    margin: 60px auto 0px;
  }

  + div {
    max-width: 720px;
    width: 100%;
  }
}
